<p>
  <a class="btn btn-primary" routerLink="/admin/products/new">Add Product</a>
</p>
<p>
  <input class="form-control" #query type="text" placeholder="Search..." (keyup)="filter(query.value)">
</p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of filterProducts">
      <td>{{ product.title }}</td>
      <td>{{ product.price }}</td>
      <td>
        <a [routerLink]="['/admin/products/', product.$key]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
